<div class="header container-fluid">
  <div class="header-content row slideDown">
    <div class="col-md-4 avatar-box">
      <div class="avatar">
        <img src="assets/images/a.jpg" alt="">
      </div>
    </div>
    <div class="background-header">
      <div class="col-md-8 offset-md-4 header-info">
        <h5>LE THI MINH ANH</h5>
        <h5>Web Developer</h5>
        <p>I'm a hardworking and dedicated person, love to explore and learn new technology. I love to inspire other
          people around me and get inspired by them.</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid body-info">
  <div class="row">
    <div class="col-md-4">
      <div class="ms-card slideLeft">
        <div class="ms-card-header">
          <p class="ms-card-header-title">Personal Information</p>
        </div>
        <div class="ms-card-body">
          <div class="infor-row">
            <span class="infor-icon">
              <i class="fa fa-phone" aria-hidden="true"></i>
            </span>
            <span>0359868662</span>
          </div>
          <div class="infor-row">
            <span class="infor-icon">
              <i class="fa fa-birthday-cake" aria-hidden="true"></i>
            </span>
            <span>15/06/1994</span>
          </div>
          <div class="infor-row">
            <span class="infor-icon">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </span>
            <span>minhanhle156@gmail.com</span>
          </div>

          <div class="infor-row">
            <span class="infor-icon">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            </span>
            <span>Binh Thanh District, Ho Chi Minh City</span>
          </div>
          <div class="infor-row">
            <span class="infor-icon">
              <i class="fa fa-home" aria-hidden="true"></i>
            </span>
            <span><a href="">Visit me</a></span>
          </div>
        </div>
      </div>
      <div class="ms-card slideLeft">
        <div class="ms-card-header">
          <p class="ms-card-header-title">Skills</p>
        </div>
        <div class="ms-card-body">
          <div class="infor-row">
            <p>Javascript</p>
            <p>
              <ngb-progressbar type="info" [value]="95" height="10px"></ngb-progressbar>
            </p>
          </div>
          <div class="infor-row">
            <p>Angular</p>
            <p>
              <ngb-progressbar type="info" [value]="90" height="10px"></ngb-progressbar>
            </p>
          </div>
          <div class="infor-row">
            <p>HTML</p>
            <p>
              <ngb-progressbar type="info" [value]="70" height="10px"></ngb-progressbar>
            </p>
          </div>
          <div class="infor-row">
            <p>CSS</p>
            <p>
              <ngb-progressbar type="info" [value]="55" height="10px"></ngb-progressbar>
            </p>
          </div>
          <div class="infor-row">
            <p>NodeJS</p>
            <p>
              <ngb-progressbar type="info" [value]="90" height="10px"></ngb-progressbar>
            </p>
          </div>
          <div class="infor-row">
            <p>TypeScript</p>
            <p>
              <ngb-progressbar type="info" [value]="75" height="10px"></ngb-progressbar>
            </p>
          </div>
          <div class="infor-row">
            <p>MySql</p>
            <p>
              <ngb-progressbar type="info" [value]="85" height="10px"></ngb-progressbar>
            </p>
          </div>
          <div class="infor-row">
            <p>MongoDB</p>
            <p>
              <ngb-progressbar type="info" [value]="90" height="10px"></ngb-progressbar>
            </p>
          </div>
          <div class="infor-row">
            <p>Elasticsearch</p>
            <p>
              <ngb-progressbar type="info" [value]="60" height="10px"></ngb-progressbar>
            </p>
          </div>
        </div>
      </div>
      <div class="ms-card slideLeft">
        <div class="ms-card-header">
          <p class="ms-card-header-title">Languages</p>
        </div>
        <div class="ms-card-body">
          <div class="infor-row">
            <p>Vietnamese</p>
            <p>
              <ngb-progressbar type="info" [value]="100" height="10px"></ngb-progressbar>
            </p>
          </div>
          <div class="infor-row">
            <p>English</p>
            <p>
              <ngb-progressbar type="info" [value]="50" height="10px"></ngb-progressbar>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="ms-card slideLeft">
        <div class="ms-card-header">
          <p class="ms-card-header-title">Education</p>
        </div>
        <div class="ms-card-body">
          <div class="row infor-row">
            <div class="col-md-3 infor-title">2012 - 2017</div>
            <div class="col-md-9">
              <p>Posts and telecommunications institute of technology Ho Chi Minh (PTIT HCM)</p>
              <p>Bachelor of Information Technology</p>
              <p>GPA: 2.97 / 4</p>
              <p>Thesis: 7.51 / 10</p>
            </div>
          </div>
        </div>
      </div>
      <div class="ms-card slideLeft">
        <div class="ms-card-header">
          <div class="ms-card-header-title">
            Work History
          </div>
        </div>
        <div class="ms-card-body">
          <div class="row infor-row">
            <div class="col-md-3 infor-title">Freb, 2017 - Present</div>
            <div class="col-md-9">
              <p>Web Developer</p>
              <p>JANETO ICT</p>
            </div>
          </div>
        </div>
      </div>
      <div class="ms-card slideLeft">
        <div class="ms-card-header">
          <div class="ms-card-header-title">
            Projects
          </div>
        </div>
        <div class="ms-card-body">
          <div class="row infor-row">
            <div class="col-md-3 infor-title">Redwood</div>
            <div class="col-md-9">
              <p>AngularJS, Bootstrap, NodeJS, Express, Elasticsearch, MongoDB</p>
              <p>Full Stack</p>
              <p>6 Months</p>
            </div>
          </div>
          <div class="row infor-row">
            <div class="col-md-3 infor-title">MyKolor - Admin side</div>
            <div class="col-md-9">
              <p>Angular 5, Bootstrap, NodeJS, Express, TypeScript, MongoDB</p>
              <p>Font end - Support write migrate and optimization query</p>
              <p>6 Months</p>
            </div>
          </div>
          <div class="row infor-row">
            <div class="col-md-3 infor-title">DPIV</div>
            <div class="col-md-9">
              <p>Angular 4, Bootstrap</p>
              <p>Font end</p>
              <p>4 Months</p>
            </div>
          </div>
        </div>
      </div>
      <div class="ms-card slideLeft">
        <div class="ms-card-header">
          <div class="ms-card-header-title">
            Hobbies
          </div>
        </div>
        <div class="ms-card-body">
          <p>Travel</p>
          <p>Reasearch new technology</p>
        </div>
      </div>
    </div>
  </div>
</div>